swagger: "2.0"
info:
  version: "0.0.1"
  title: Form3 Corelib data structures.
host: api.form3.tech
schemes:
  - https
basePath: /v1
paths:
  /admins/{user_id}/credentials:
    get:
      summary: Fetch admin credentials for user
      tags:
        - Admins
      x-access:
        - Public
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of admin credentials for user
          schema:
            $ref: "#/definitions/UserCredentialListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    post:
      summary: Generate new admin credentials for a user
      tags:
        - Admins
      x-access:
        - Public
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        201:
          description: Credential creation response
          schema:
            $ref: "#/definitions/CredentialCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /admins/{user_id}/credentials/{client_id}:
    delete:
      summary: Delete admin credential for user
      tags:
        - Admins
      x-access:
        - Public
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: client_id
          in: path
          description: client id
          required: true
          type: string
      responses:
        204:
          description: Credential deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /units:
    post:
      summary: Create organisation
      tags:
        - Organisations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Organisation creation request
          in: body
          schema:
            $ref: "#/definitions/OrganisationCreation"

      responses:
        201:
          description: Organisation creation response
          schema:
            $ref: "#/definitions/OrganisationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all organisations
      tags:
        - Organisations
      parameters:
        - name: filter[child_organisation_id]
          in: query
          description: Child org id
          required: false
          type: string
          format: uuid

      responses:
        200:
          description: List of organisation details
          schema:
            $ref: "#/definitions/OrganisationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /units/{id}:
    get:
      summary: Fetch organisation
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          description: Organisation Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Organisation details
          schema:
            $ref: "#/definitions/OrganisationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete organisation
      tags:
        - Organisations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Organisation Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Organisation deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    patch:
      summary: Update organisation
      tags:
        - Organisations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Organisation Id
          required: true
          type: string
          format: uuid
        - name: Organisation update request
          in: body
          schema:
            $ref: "#/definitions/OrganisationUpdate"
      responses:
        200:
          description: Organisation details
          schema:
            $ref: "#/definitions/OrganisationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /users:
    post:
      summary: Create user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: User creation request
          in: body
          schema:
            $ref: "#/definitions/UserCreation"

      responses:
        201:
          description: User creation response
          schema:
            $ref: "#/definitions/UserCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all users
      tags:
        - Users
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000

      responses:
        200:
          description: List of user details
          schema:
            $ref: "#/definitions/UserDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /users/{user_id}:
    get:
      summary: Fetch user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: User details
          schema:
            $ref: "#/definitions/UserDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    patch:
      summary: Edit user details
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: User update request
          in: body
          schema:
            $ref: "#/definitions/UserCreation"

      responses:
        200:
          description: User details
          schema:
            $ref: "#/definitions/UserDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: User deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /users/{user_id}/aces:
    get:
      summary: Get access control list for user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: filter[record_type]
          in: query
          description: Record type
          required: false
          type: string
          pattern: ^[A-Za-z]*$
        - name: filter[action]
          in: query
          description: Access action
          required: false
          type: string
          pattern: ^[A-Za-z]*$

      responses:
        200:
          description: List of access control entries for this user
          schema:
            $ref: "#/definitions/AceDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /users/{user_id}/roles:
    get:
      summary: Get all roles for user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of roles for user
          schema:
            $ref: "#/definitions/UserRoleListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /users/{user_id}/credentials:
    get:
      summary: Get all credentials for user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of credentials for user
          schema:
            $ref: "#/definitions/UserCredentialListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    post:
      summary: Add credentials to user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        201:
          description: Credential creation response
          schema:
            $ref: "#/definitions/CredentialCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /users/{user_id}/credentials/{client_id}:
    delete:
      summary: Delete credential for user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: client_id
          in: path
          description: client id
          required: true
          type: string
          format: uuid
      responses:
        204:
          description: Credential deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /users/{user_id}/roles/{role_id}:
    post:
      summary: Add role to user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
      responses:
        201:
          description: Role set OK
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Remove role from user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
      responses:
        204:
          description: User role deleted OK
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /payport:
    post:
      summary: Create payport service association
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/PayportAssociationCreation"

      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/PayportAssociationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all organisation associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: string
          format: uuid

      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/PayportAssociationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /payport/{id}:
    get:
      summary: Fetch service association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/PayportAssociationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete service association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /roles:
    post:
      summary: Create role
      tags:
        - Roles
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Role creation request
          in: body
          schema:
            $ref: "#/definitions/RoleCreation"

      responses:
        201:
          description: Role creation response
          schema:
            $ref: "#/definitions/RoleCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all roles
      tags:
        - Roles
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000

      responses:
        200:
          description: List of role details
          schema:
            $ref: "#/definitions/RoleDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /roles/{role_id}:
    get:
      summary: Fetch role
      tags:
        - Roles
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Role details
          schema:
            $ref: "#/definitions/RoleDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete role
      tags:
        - Roles
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Role deleted

  /roles/{role_id}/aces:
    post:
      summary: Create Access Control Entry
      tags:
        - Ace
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
        - name: Ace creation request
          in: body
          schema:
            $ref: "#/definitions/AceCreation"

      responses:
        201:
          description: Ace creation response
          schema:
            $ref: "#/definitions/AceCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all Access Controls for role
      tags:
        - Ace
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid

      responses:
        200:
          description: List of Ace details
          schema:
            $ref: "#/definitions/AceDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /roles/{role_id}/aces/{ace_id}:
    get:
      summary: Fetch Access Control Entry
      tags:
        - Ace
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
        - name: ace_id
          in: path
          description: Ace Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Ace details
          schema:
            $ref: "#/definitions/AceDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete Access Control Entry
      tags:
        - Ace
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
        - name: ace_id
          in: path
          description: Ace Id
          required: true
          type: string
          format: uuid
      responses:
        204:
          description: Ace deleted OK

  /subscriptions:
    post:
      summary: Create subscription
      tags:
        - Subscriptions
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Subscription creation request
          in: body
          schema:
            $ref: "#/definitions/SubscriptionCreation"

      responses:
        201:
          description: Subscription creation response
          schema:
            $ref: "#/definitions/SubscriptionCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all subscriptions
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[event_type]
          in: query
          description: Filter by event type
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      tags:
        - Subscriptions

      responses:
        200:
          description: List of subscription details
          schema:
            $ref: "#/definitions/SubscriptionDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /subscriptions/{id}:
    get:
      summary: Fetch subscription
      tags:
        - Subscriptions
      parameters:
        - name: id
          in: path
          description: Subscription Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Subscription details
          schema:
            $ref: "#/definitions/SubscriptionDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    patch:
      summary: Edit subscription details
      tags:
        - Subscriptions
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Subscription Id
          required: true
          type: string
          format: uuid
        - name: Subscription update request
          in: body
          schema:
            $ref: "#/definitions/SubscriptionCreation"

      responses:
        200:
          description: Subscription details
          schema:
            $ref: "#/definitions/SubscriptionDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Deletes a subscription
      tags:
        - Subscriptions
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Subscription Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Subscription deleted OK. No body content will be returned
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /starling:
    post:
      summary: Create organisation association
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/AssociationCreation"

      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/AssociationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all organisation associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: string
          format: uuid

      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/AssociationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /starling/{id}:
    get:
      summary: Fetch organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/AssociationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"
  #organisation api - end

  #account api -start
  /accounts:
    post:
      summary: Create account
      tags:
        - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Account creation request
          in: body
          schema:
            $ref: "#/definitions/AccountCreation"

      responses:
        201:
          description: Account creation response
          schema:
            $ref: "#/definitions/AccountCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List accounts
      tags:
        - Accounts
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv
        - name: filter[bank_id_code]
          in: query
          description: Filter by type of bank id e.g. "GBDSC"
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[bank_id]
          in: query
          description: Filter by bank id e.g. sort code or bic
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[account_number]
          in: query
          description: Filter by account number
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[country]
          in: query
          description: Filter by country e.g. FR,GB
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[customer_id]
          in: query
          description: Filter by customer_id
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[iban]
          in: query
          description: Filter by IBAN
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv

      responses:
        200:
          description: List of account details
          schema:
            $ref: "#/definitions/AccountDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /accounts/{id}:
    get:
      summary: Fetch account
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Account Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Account details
          schema:
            $ref: "#/definitions/AccountDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete account
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Account Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Account deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  #account_routing api -start
  /account_routings:
    get:
      summary: List account routings
      tags:
        - AccountRoutings
      x-access:
        - Public
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv

      responses:
        200:
          description: List of account routing details
          schema:
            $ref: "#/definitions/AccountRoutingDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    post:
      summary: Create an account routing entry
      tags:
        - AccountRoutings
      x-access:
        - Public
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Account routing creation request
          in: body
          schema:
            $ref: "#/definitions/AccountRoutingCreation"

      responses:
        201:
          description: Account routing creation response success
          schema:
            $ref: "#/definitions/AccountRoutingCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /account_routings/{id}:
    delete:
      summary: Delete account routing
      x-access:
        - Public
      tags:
        - AccountRoutings
      parameters:
        - name: id
          in: path
          description: Account Routing Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Account Routing deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: Fetch account routing
      x-access:
        - Public
      tags:
        - AccountRoutings
      parameters:
        - name: id
          in: path
          description: Account Routing Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Account Routing details
          schema:
            $ref: "#/definitions/AccountRoutingDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"
  # account_routing api end

  /bankids:
    post:
      summary: Create bank id
      tags:
        - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: BankId creation request
          in: body
          schema:
            $ref: "#/definitions/BankIdCreation"

      responses:
        201:
          description: BankId creation response
          schema:
            $ref: "#/definitions/BankIdCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List bankIds
      tags:
        - Accounts
      x-access:
        - Private
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv
        - name: filter[bank_id_code]
          in: query
          description: Filter by type of bank id e.g. "GBDSC"
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[bank_id]
          in: query
          description: Filter by bank id e.g. sort code or bic
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[country]
          in: query
          description: Filter by country e.g. FR,GB
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        200:
          description: List of bankId details
          schema:
            $ref: "#/definitions/BankIdDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /bankids/{id}:
    get:
      summary: Fetch bankId
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bank Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: BankId details
          schema:
            $ref: "#/definitions/BankIdDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete bankId
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: BankId Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: BankId deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /bics:
    post:
      summary: Create BIC
      tags:
        - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Bic creation request
          in: body
          schema:
            $ref: "#/definitions/BicCreation"

      responses:
        201:
          description: Bic creation response
          schema:
            $ref: "#/definitions/BicCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List bics
      tags:
        - Accounts
      x-access:
        - Private
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[bic]
          in: query
          description: Filter by specific bic
          required: false
          type: string
      responses:
        200:
          description: List of bic details
          schema:
            $ref: "#/definitions/BicDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /bics/{id}:
    get:
      summary: Fetch Bic
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bic Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Bic details
          schema:
            $ref: "#/definitions/BicDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete BIC
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bic Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Bic deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /accountconfigurations:
    post:
      summary: Create configuration
      tags:
        - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: AccountConfiguration creation request
          in: body
          schema:
            $ref: "#/definitions/AccountConfigurationCreation"

      responses:
        201:
          description: AccountConfiguration creation response
          schema:
            $ref: "#/definitions/AccountConfigurationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List configurations
      tags:
        - Accounts
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000

      responses:
        200:
          description: List of configuration details
          schema:
            $ref: "#/definitions/AccountConfigurationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /accountconfigurations/{id}:
    get:
      summary: Fetch AccountConfiguration
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: AccountConfiguration Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: AccountConfiguration details
          schema:
            $ref: "#/definitions/AccountConfigurationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete config
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: AccountConfiguration Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: AccountConfiguration deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    patch:
      summary: Amend config
      tags:
        - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Configuration Id
          required: true
          type: string
          format: uuid
        - name: config amend request
          in: body
          schema:
            $ref: "#/definitions/ConfigurationAmendment"
      responses:
        200:
          description: Configuration updated
          schema:
            $ref: "#/definitions/AccountConfigurationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"
  #account api -end

  /limits:
    post:
      summary: Create a limit
      tags:
        - Limits
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Limit creation request
          in: body
          schema:
            $ref: "#/definitions/LimitCreation"
      responses:
        201:
          description: Limit creation response
          schema:
            $ref: "#/definitions/LimitCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List limits
      tags:
        - Limits
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
          minimum: 0
          pattern: "$[A-z0-9]{4}^"
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv
      responses:
        200:
          description: List of limit details
          schema:
            $ref: "#/definitions/LimitDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /limits/{id}:
    get:
      summary: Fetch limit
      tags:
        - Limits
      parameters:
        - name: id
          in: path
          description: limit Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Limit details
          schema:
            $ref: "#/definitions/LimitDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    patch:
      summary: Amend limit
      tags:
        - Limits
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Limit Id
          required: true
          type: string
          format: uuid
        - name: Limit amend request
          in: body
          schema:
            $ref: "#/definitions/LimitAmendment"
      responses:
        200:
          description: Limit updated
          schema:
            $ref: "#/definitions/LimitDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete limit
      tags:
        - Limits
      parameters:
        - name: id
          in: path
          description: Limit Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Limit deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /bacs:
    post:
      summary: Create organisation association for BACS
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/BacsAssociationCreation"

      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/BacsAssociationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all organisation associations for BACS
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: string
          format: uuid

      responses:
        200:
          description: List of associations for BACS
          schema:
            $ref: "#/definitions/BacsAssociationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /bacs/{id}:
    get:
      summary: Fetch organisation association for BACS
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details for BACS
          schema:
            $ref: "#/definitions/BacsAssociationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete organisation association for BACS
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /vocalinkreport:
    post:
      summary: Create organisation association
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/VocalinkReportAssociationCreation"

      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/VocalinkReportAssociationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all organisation associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid

      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/VocalinkReportAssociationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /vocalinkreport/{id}:
    get:
      summary: Fetch organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/VocalinkReportAssociationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /keys:
    post:
      summary: Create Key
      tags:
        - System
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Key creation request
          in: body
          schema:
            $ref: "#/definitions/KeyCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/KeyCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all Keys
      tags:
        - System
      responses:
        200:
          description: List of Keys
          schema:
            $ref: "#/definitions/KeyDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /keys/{key_id}:
    get:
      summary: Fetch Key
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Key details
          schema:
            $ref: "#/definitions/KeyDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete Key
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Key deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /keys/{key_id}/certificates:
    post:
      summary: Create certificate
      tags:
        - System
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
        - name: certificate creation request
          in: body
          schema:
            $ref: "#/definitions/CertificateCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/CertificateCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all certificates
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of certificates
          schema:
            $ref: "#/definitions/CertificateDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /keys/{key_id}/certificates/{certificate_id}:
    get:
      summary: Fetch certificate
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
        - name: certificate_id
          in: path
          description: Certificate Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Certificate details
          schema:
            $ref: "#/definitions/CertificateDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete certificate
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
        - name: certificate_id
          in: path
          description: Certificate Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Certificate deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /confirmation-of-payee:
    post:
      summary: Create organisation association with confirmation of payee
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      produces:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/CoPAssociationCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/CoPAssociationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all organisation associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid

      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/CoPAssociationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /confirmation-of-payee/{id}:
    get:
      summary: Fetch organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/CoPAssociationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /lhv:
    post:
      summary: Create organisation association for lhv
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/LhvAssociationCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/LhvAssociationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all organisation lhv associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/LhvAssociationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /lhv/{associationId}:
    get:
      summary: Fetch organisation lhv association
      tags:
        - Associations
      parameters:
        - name: associationId
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/LhvAssociationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    patch:
      summary: Patch organisation lhv association
      tags:
        - Associations
      parameters:
        - name: associationId
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: payload
          in: body
          description: LHV Association Patch payload
          required: true
          schema:
            $ref: "#/definitions/LhvAssociationPatch"
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/LhvAssociationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete organisation lhv association
      tags:
        - Associations
      parameters:
        - name: associationId
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /lhv/{associationId}/master_accounts:
    parameters:
      - name: associationId
        in: path
        description: Association Id
        required: true
        type: string
        format: uuid
    get:
      summary: List master accounts
      tags:
        - Associations
      responses:
        200:
          description: List of configuration details
          schema:
            $ref: "#/definitions/LhvMasterAccountListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    post:
      summary: Create organisation association master account
      tags:
        - Associations
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/LhvMasterAccountCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/LhvMasterAccountResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /lhv/{associationId}/master_accounts/{masterAccountId}:
    parameters:
      - name: associationId
        in: path
        description: Association Id
        required: true
        type: string
        format: uuid
      - name: masterAccountId
        in: path
        description: Master Account Id
        required: true
        type: string
        format: uuid

    get:
      summary: Fetch Master Account
      tags:
        - Associations
      responses:
        200:
          description: Master Account details
          schema:
            $ref: "#/definitions/LhvMasterAccountResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete organisation association master account
      tags:
        - Associations
      parameters:
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association master account deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /sepa-liquidity:
    post:
      summary: Create organisation association for sepa liquidity
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/SepaLiquidityAssociationCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/SepaLiquidityAssociationCreationResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    get:
      summary: List all organisation sepa liquidity associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/SepaLiquidityAssociationDetailsListResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

  /sepa-liquidity/{id}:
    get:
      summary: Fetch organisation sepa liquidity association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/SepaLiquidityAssociationDetailsResponse"
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
          $ref: "#/responses/503ServiceUnavailable"

    delete:
      summary: Delete organisation sepa liquidity association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted
        400:
          $ref: "#/responses/400BadRequest"
        401:
          $ref: "#/responses/401Unauthorized"
        403:
          $ref: "#/responses/403Forbidden"
        404:
          $ref: "#/responses/404NotFound"
        409:
          $ref: "#/responses/409Conflict"
        429:
          $ref: "#/responses/429TooManyRequests"
        500:
          $ref: "#/responses/500InternalServerError"
        503:
[...]
