swagger: '2.0'
info:
  version: "0.0.1"
  title: Form3 Corelib data structures.
host: api.form3.tech
schemes:
  - https
basePath: /v1
paths:

  /admins/{user_id}/credentials:

    get:
      summary: Fetch admin credentials for user
      tags:
        - Admins
      x-access:
        - Public
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of admin credentials for user
          schema:
            $ref: "#/definitions/UserCredentialListResponse"

    post:
      summary: Generate new admin credentials for a user
      tags:
        - Admins
      x-access:
        - Public
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        201:
          description: Credential creation response
          schema:
            $ref: "#/definitions/CredentialCreationResponse"

  /admins/{user_id}/credentials/{client_id}:

    delete:
      summary: Delete admin credential for user
      tags:
        - Admins
      x-access:
        - Public
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: client_id
          in: path
          description: client id
          required: true
          type: string
      responses:
        204:
          description: Credential deleted



  /units:

    post:
      summary: Create organisation
      tags:
       - Organisations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Organisation creation request
          in: body
          schema:
            $ref: "#/definitions/OrganisationCreation"

      responses:
        201:
          description: Organisation creation response
          schema:
            $ref: "#/definitions/OrganisationCreationResponse"


    get:
      summary: List all organisations
      tags:
        - Organisations
      parameters:
        - name: filter[child_organisation_id]
          in: query
          description: Child org id
          required: false
          type: string
          format: uuid

      responses:
        200:
          description: List of organisation details
          schema:
            $ref: "#/definitions/OrganisationDetailsListResponse"

  /units/{id}:

    get:
      summary: Fetch organisation
      tags:
        - Organisations
      parameters:
        - name: id
          in: path
          description: Organisation Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Organisation details
          schema:
            $ref: "#/definitions/OrganisationDetailsResponse"

    delete:
      summary: Delete organisation
      tags:
        - Organisations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Organisation Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Organisation deleted

    patch:
      summary: Update organisation
      tags:
        - Organisations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Organisation Id
          required: true
          type: string
          format: uuid
        - name: Organisation update request
          in: body
          schema:
            $ref: "#/definitions/OrganisationUpdate"
      responses:
        200:
          description: Organisation details
          schema:
            $ref: "#/definitions/OrganisationDetailsResponse"

  /users:

    post:
      summary: Create user
      tags:
       - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: User creation request
          in: body
          schema:
            $ref: "#/definitions/UserCreation"

      responses:
        201:
          description: User creation response
          schema:
            $ref: "#/definitions/UserCreationResponse"


    get:
      summary: List all users
      tags:
        - Users
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000


      responses:
        200:
          description: List of user details
          schema:
            $ref: "#/definitions/UserDetailsListResponse"

  /users/{user_id}:

    get:
      summary: Fetch user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: User details
          schema:
            $ref: "#/definitions/UserDetailsResponse"

    patch:
      summary: Edit user details
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: User update request
          in: body
          schema:
            $ref: "#/definitions/UserCreation"

      responses:
        200:
          description: User details
          schema:
            $ref: "#/definitions/UserDetailsResponse"

    delete:
      summary: Delete user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: User deleted

  /users/{user_id}/aces:

    get:
      summary: Get access control list for user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: filter[record_type]
          in: query
          description: Record type
          required: false
          type: string
          pattern: ^[A-Za-z]*$
        - name: filter[action]
          in: query
          description: Access action
          required: false
          type: string
          pattern: ^[A-Za-z]*$

      responses:
        200:
          description: List of access control entries for this user
          schema:
            $ref: "#/definitions/AceDetailsListResponse"

  /users/{user_id}/roles:

    get:
      summary: Get all roles for user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of roles for user
          schema:
            $ref: "#/definitions/UserRoleListResponse"

  /users/{user_id}/credentials:

    get:
      summary: Get all credentials for user
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of credentials for user
          schema:
            $ref: "#/definitions/UserCredentialListResponse"

    post:
      summary: Add credentials to user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        201:
          description: Credential creation response
          schema:
            $ref: "#/definitions/CredentialCreationResponse"

  /users/{user_id}/credentials/{client_id}:

    delete:
      summary: Delete credential for user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: client_id
          in: path
          description: client id
          required: true
          type: string
          format: uuid
      responses:
        204:
          description: Credential deleted

  /users/{user_id}/roles/{role_id}:

    post:
      summary: Add role to user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
      responses:
        201:
          description: Role set OK

    delete:
      summary: Remove role from user
      tags:
        - Users
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
      responses:
        204:
          description: User role deleted OK

  /payport:
      post:
        summary: Create payport service association
        tags:
         - Associations
        consumes:
          - application/vnd.api+json
          - application/json
        parameters:
          - name: creation request
            in: body
            schema:
              $ref: "#/definitions/PayportAssociationCreation"

        responses:
          201:
            description: creation response
            schema:
              $ref: "#/definitions/PayportAssociationCreationResponse"


      get:
        summary: List all organisation associations
        tags:
          - Associations
        parameters:
          - name: filter[organisation_id]
            in: query
            description: Organisation id
            required: false
            type: string
            format: uuid

        responses:
          200:
            description: List of associations
            schema:
              $ref: "#/definitions/PayportAssociationDetailsListResponse"

  /payport/{id}:

    get:
      summary: Fetch service association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/PayportAssociationDetailsResponse"

    delete:
      summary: Delete service association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /roles:

    post:
      summary: Create role
      tags:
       - Roles
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Role creation request
          in: body
          schema:
            $ref: "#/definitions/RoleCreation"

      responses:
        201:
          description: Role creation response
          schema:
            $ref: "#/definitions/RoleCreationResponse"


    get:
      summary: List all roles
      tags:
        - Roles
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000

      responses:
        200:
          description: List of role details
          schema:
            $ref: "#/definitions/RoleDetailsListResponse"

  /roles/{role_id}:

    get:
      summary: Fetch role
      tags:
        - Roles
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Role details
          schema:
            $ref: "#/definitions/RoleDetailsResponse"

    delete:
      summary: Delete role
      tags:
        - Roles
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Role deleted

  /roles/{role_id}/aces:

    post:
      summary: Create Access Control Entry
      tags:
       - Ace
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
        - name: Ace creation request
          in: body
          schema:
            $ref: "#/definitions/AceCreation"

      responses:
        201:
          description: Ace creation response
          schema:
            $ref: "#/definitions/AceCreationResponse"


    get:
      summary: List all Access Controls for role
      tags:
        - Ace
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid

      responses:
        200:
          description: List of Ace details
          schema:
            $ref: "#/definitions/AceDetailsListResponse"

  /roles/{role_id}/aces/{ace_id}:

    get:
      summary: Fetch Access Control Entry
      tags:
        - Ace
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
        - name: ace_id
          in: path
          description: Ace Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Ace details
          schema:
            $ref: "#/definitions/AceDetailsResponse"

    delete:
      summary: Delete Access Control Entry
      tags:
        - Ace
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: role_id
          in: path
          description: Role Id
          required: true
          type: string
          format: uuid
        - name: ace_id
          in: path
          description: Ace Id
          required: true
          type: string
          format: uuid
      responses:
        204:
          description: Ace deleted OK

  /subscriptions:

    post:
      summary: Create subscription
      tags:
       - Subscriptions
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Subscription creation request
          in: body
          schema:
            $ref: "#/definitions/SubscriptionCreation"

      responses:
        201:
          description: Subscription creation response
          schema:
            $ref: "#/definitions/SubscriptionCreationResponse"


    get:
      summary: List all subscriptions
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[event_type]
          in: query
          description: Filter by event type
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      tags:
        - Subscriptions

      responses:
        200:
          description: List of subscription details
          schema:
            $ref: "#/definitions/SubscriptionDetailsListResponse"

  /subscriptions/{id}:

    get:
      summary: Fetch subscription
      tags:
        - Subscriptions
      parameters:
        - name: id
          in: path
          description: Subscription Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Subscription details
          schema:
            $ref: "#/definitions/SubscriptionDetailsResponse"

    patch:
      summary: Edit subscription details
      tags:
        - Subscriptions
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Subscription Id
          required: true
          type: string
          format: uuid
        - name: Subscription update request
          in: body
          schema:
            $ref: "#/definitions/SubscriptionCreation"

      responses:
        200:
          description: Subscription details
          schema:
            $ref: "#/definitions/SubscriptionDetailsResponse"

    delete:
      summary: Deletes a subscription
      tags:
        - Subscriptions
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Subscription Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Subscription deleted OK. No body content will be returned

  /starling:

     post:
       summary: Create organisation association
       tags:
        - Associations
       consumes:
         - application/vnd.api+json
         - application/json
       parameters:
         - name: creation request
           in: body
           schema:
             $ref: "#/definitions/AssociationCreation"

       responses:
         201:
           description: creation response
           schema:
             $ref: "#/definitions/AssociationCreationResponse"


     get:
       summary: List all organisation associations
       tags:
         - Associations
       parameters:
         - name: filter[organisation_id]
           in: query
           description: Organisation id
           required: false
           type: string
           format: uuid

       responses:
         200:
           description: List of associations
           schema:
             $ref: "#/definitions/AssociationDetailsListResponse"

  /starling/{id}:

     get:
       summary: Fetch organisation association
       tags:
         - Associations
       parameters:
         - name: id
           in: path
           description: Association Id
           required: true
           type: string
           format: uuid
       responses:
         200:
           description: Associations details
           schema:
             $ref: "#/definitions/AssociationDetailsResponse"

     delete:
       summary: Delete organisation association
       tags:
         - Associations
       parameters:
         - name: id
           in: path
           description: Association Id
           required: true
           type: string
           format: uuid
         - name: version
           in: query
           description: Version
           required: true
           type: integer
           minimum: 0
       responses:
         204:
           description: Association deleted
#organisation api - end

#account api -start
  /accounts:

    post:
      summary: Create account
      tags:
       - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Account creation request
          in: body
          schema:
            $ref: "#/definitions/AccountCreation"

      responses:
        201:
          description: Account creation response
          schema:
            $ref: "#/definitions/AccountCreationResponse"


    get:
      summary: List accounts
      tags:
        - Accounts
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv
        - name: filter[bank_id_code]
          in: query
          description: Filter by type of bank id e.g. "GBDSC"
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[bank_id]
          in: query
          description: Filter by bank id e.g. sort code or bic
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[account_number]
          in: query
          description: Filter by account number
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[country]
          in: query
          description: Filter by country e.g. FR,GB
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[customer_id]
          in: query
          description: Filter by customer_id
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[iban]
          in: query
          description: Filter by IBAN
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv

      responses:
        200:
          description: List of account details
          schema:
            $ref: "#/definitions/AccountDetailsListResponse"

  /accounts/{id}:

    get:
      summary: Fetch account
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Account Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Account details
          schema:
            $ref: "#/definitions/AccountDetailsResponse"

    delete:
      summary: Delete account
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Account Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Account deleted

#account_routing api -start
  /account_routings:

    get:
      summary: List account routings
      tags:
        - AccountRoutings
      x-access:
        - Public
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv

      responses:
        200:
          description: List of account routing details
          schema:
            $ref: "#/definitions/AccountRoutingDetailsListResponse"

    post:
      summary: Create an account routing entry
      tags:
        - AccountRoutings
      x-access:
        - Public
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Account routing creation request
          in: body
          schema:
            $ref: "#/definitions/AccountRoutingCreation"

      responses:
        201:
          description: Account routing creation response success
          schema:
            $ref: "#/definitions/AccountRoutingCreationResponse"

        409:
          description: Account routing creation error, constraint violation
          schema:
            $ref: "#/definitions/ApiError"

  /account_routings/{id}:

    delete:
      summary: Delete account routing
      x-access:
        - Public
      tags:
        - AccountRoutings
      parameters:
        - name: id
          in: path
          description: Account Routing Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Account Routing deleted

    get:
      summary: Fetch account routing
      x-access:
        - Public
      tags:
        - AccountRoutings
      parameters:
        - name: id
          in: path
          description: Account Routing Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Account Routing details
          schema:
            $ref: "#/definitions/AccountRoutingDetailsResponse"
# account_routing api end

  /bankids:

    post:
      summary: Create bank id
      tags:
       - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: BankId creation request
          in: body
          schema:
            $ref: "#/definitions/BankIdCreation"

      responses:
        201:
          description: BankId creation response
          schema:
            $ref: "#/definitions/BankIdCreationResponse"

    get:
      summary: List bankIds
      tags:
        - Accounts
      x-access:
        - Private
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv
        - name: filter[bank_id_code]
          in: query
          description: Filter by type of bank id e.g. "GBDSC"
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[bank_id]
          in: query
          description: Filter by bank id e.g. sort code or bic
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[country]
          in: query
          description: Filter by country e.g. FR,GB
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        200:
          description: List of bankId details
          schema:
            $ref: "#/definitions/BankIdDetailsListResponse"

  /bankids/{id}:

    get:
      summary: Fetch bankId
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bank Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: BankId details
          schema:
            $ref: "#/definitions/BankIdDetailsResponse"

    delete:
      summary: Delete bankId
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: BankId Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: BankId deleted

  /bics:

    post:
      summary: Create BIC
      tags:
       - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Bic creation request
          in: body
          schema:
            $ref: "#/definitions/BicCreation"

      responses:
        201:
          description: Bic creation response
          schema:
            $ref: "#/definitions/BicCreationResponse"

    get:
      summary: List bics
      tags:
        - Accounts
      x-access:
        - Private
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[bic]
          in: query
          description: Filter by specific bic
          required: false
          type: string
      responses:
        200:
          description: List of bic details
          schema:
            $ref: "#/definitions/BicDetailsListResponse"

  /bics/{id}:

    get:
      summary: Fetch Bic
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bic Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Bic details
          schema:
            $ref: "#/definitions/BicDetailsResponse"

    delete:
      summary: Delete BIC
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bic Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Bic deleted

  /accountconfigurations:

    post:
      summary: Create configuration
      tags:
       - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: AccountConfiguration creation request
          in: body
          schema:
            $ref: "#/definitions/AccountConfigurationCreation"

      responses:
        201:
          description: AccountConfiguration creation response
          schema:
            $ref: "#/definitions/AccountConfigurationCreationResponse"

    get:
      summary: List configurations
      tags:
        - Accounts
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000

      responses:
        200:
          description: List of configuration details
          schema:
            $ref: "#/definitions/AccountConfigurationDetailsListResponse"

  /accountconfigurations/{id}:

    get:
      summary: Fetch AccountConfiguration
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: AccountConfiguration Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: AccountConfiguration details
          schema:
            $ref: "#/definitions/AccountConfigurationDetailsResponse"

    delete:
      summary: Delete config
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: AccountConfiguration Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: AccountConfiguration deleted

    patch:
      summary: Amend config
      tags:
        - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Configuration Id
          required: true
          type: string
          format: uuid
        - name: config amend request
          in: body
          schema:
            $ref: "#/definitions/ConfigurationAmendment"
      responses:
        200:
          description: Configuration updated
          schema:
            $ref: "#/definitions/AccountConfigurationDetailsResponse"
#account api -end

  /limits:
    post:
      summary: Create a limit
      tags:
       - Limits
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
      - name: Limit creation request
        in: body
        schema:
          $ref: "#/definitions/LimitCreation"
      responses:
        201:
          description: Limit creation response
          schema:
            $ref: "#/definitions/LimitCreationResponse"

        400:
          description: Limit creation error
          schema:
            $ref: "#/definitions/ApiError"

    get:
      summary: List limits
      tags:
        - Limits
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
          minimum: 0
          pattern: "$[A-z0-9]{4}^"
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv
      responses:
        200:
          description: List of limit details
          schema:
            $ref: "#/definitions/LimitDetailsListResponse"

  /limits/{id}:

    get:
      summary: Fetch limit
      tags:
        - Limits
      parameters:
        - name: id
          in: path
          description: limit Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Limit details
          schema:
            $ref: "#/definitions/LimitDetailsResponse"

    patch:
      summary: Amend limit
      tags:
        - Limits
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Limit Id
          required: true
          type: string
          format: uuid
        - name: Limit amend request
          in: body
          schema:
            $ref: "#/definitions/LimitAmendment"
      responses:
        200:
          description: Limit updated
          schema:
            $ref: "#/definitions/LimitDetailsResponse"

    delete:
      summary: Delete limit
      tags:
        - Limits
      parameters:
        - name: id
          in: path
          description: Limit Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Limit deleted

  /bacs:

    post:
      summary: Create organisation association for BACS
      tags:
       - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/BacsAssociationCreation"

      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/BacsAssociationCreationResponse"


    get:
      summary: List all organisation associations for BACS
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: string
          format: uuid

      responses:
        200:
          description: List of associations for BACS
          schema:
            $ref: "#/definitions/BacsAssociationDetailsListResponse"

  /bacs/{id}:

    get:
      summary: Fetch organisation association for BACS
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details for BACS
          schema:
            $ref: "#/definitions/BacsAssociationDetailsResponse"

    delete:
      summary: Delete organisation association for BACS
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /vocalinkreport:
    post:
      summary: Create organisation association
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/VocalinkReportAssociationCreation"

      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/VocalinkReportAssociationCreationResponse"

    get:
      summary: List all organisation associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid

      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/VocalinkReportAssociationDetailsListResponse"

  /vocalinkreport/{id}:
    get:
      summary: Fetch organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/VocalinkReportAssociationDetailsResponse"

    delete:
      summary: Delete organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /keys:
    post:
      summary: Create Key
      tags:
        - System
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Key creation request
          in: body
          schema:
            $ref: "#/definitions/KeyCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/KeyCreationResponse"

    get:
      summary: List all Keys
      tags:
        - System
      responses:
        200:
          description: List of Keys
          schema:
            $ref: "#/definitions/KeyDetailsListResponse"

  /keys/{key_id}:
    get:
      summary: Fetch Key
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Key details
          schema:
            $ref: "#/definitions/KeyDetailsResponse"

    delete:
      summary: Delete Key
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Key deleted

  /keys/{key_id}/certificates:
    post:
      summary: Create certificate
      tags:
        - System
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
        - name: certificate creation request
          in: body
          schema:
            $ref: "#/definitions/CertificateCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/CertificateCreationResponse"

    get:
      summary: List all certificates
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of certificates
          schema:
            $ref: "#/definitions/CertificateDetailsListResponse"

  /keys/{key_id}/certificates/{certificate_id}:
    get:
      summary: Fetch certificate
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
        - name: certificate_id
          in: path
          description: Certificate Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Certificate details
          schema:
            $ref: "#/definitions/CertificateDetailsResponse"

    delete:
      summary: Delete certificate
      tags:
        - System
      parameters:
        - name: key_id
          in: path
          description: Key Id
          required: true
          type: string
          format: uuid
        - name: certificate_id
          in: path
          description: Certificate Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Certificate deleted

  /confirmation-of-payee:
    post:
      summary: Create organisation association with confirmation of payee
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      produces:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/CoPAssociationCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/CoPAssociationCreationResponse"

    get:
      summary: List all organisation associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid

      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/CoPAssociationDetailsListResponse"

  /confirmation-of-payee/{id}:

    get:
      summary: Fetch organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/CoPAssociationDetailsResponse"

    delete:
      summary: Delete organisation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /lhv:
    post:
      summary: Create organisation association for lhv
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/LhvAssociationCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/LhvAssociationCreationResponse"
    get:
      summary: List all organisation lhv associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/LhvAssociationDetailsListResponse"

  /lhv/{id}:
    get:
      summary: Fetch organisation lhv association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/LhvAssociationDetailsResponse"
    delete:
      summary: Delete organisation lhv association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /separeconciliation:
    post:
      summary: Create organisation association for sepa reconciliation
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/SepaReconciliationAssociationCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/SepaReconciliationAssociationCreationResponse"
    get:
      summary: List all organisation sepa reconciliation associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/SepaReconciliationAssociationDetailsListResponse"

  /separeconciliation/{id}:
    get:
      summary: Fetch organisation sepa reconciliation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/SepaReconciliationAssociationDetailsResponse"
    delete:
      summary: Delete organisation sepa reconciliation association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /products:
    post:
      summary: Create product association
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/ProductsAssociationCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/ProductsAssociationCreationResponse"
    get:
      summary: List all product associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/ProductsAssociationDetailsListResponse"

  /products/{id}:
    get:
      summary: Fetch product association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/ProductsAssociationDetailsResponse"
    delete:
      summary: Delete product association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /sepasct:
    post:
      summary: Create organisation association for sepa sct
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/SepaSctAssociationCreation"
      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/SepaSctAssociationCreationResponse"
    get:
      summary: List all organisation sepa sct associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/SepaSctAssociationDetailsListResponse"

  /sepasct/{id}:
    get:
      summary: Fetch organisation sepa sct association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/SepaSctAssociationDetailsResponse"
    delete:
      summary: Delete organisation spea sct association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /gocardless:
    post:
      summary: Create organisation association for GoCardless gateway
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: '#/definitions/GocardlessAssociationCreation'
      responses:
        201:
          description: creation response
          schema:
            $ref: '#/definitions/GocardlessAssociationCreationResponse'
    get:
      summary: List all organisation gocardless gateway associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
      responses:
        200:
          description: List of gocardless associations
          schema:
            $ref: "#/definitions/GocardlessAssociationListResponse"

  /gocardless/{id}:
    get:
      summary: Fetch organisation gocardless gateway association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/GocardlessAssociationResponse"
    delete:
      summary: Delete gocardless gateway association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: association deleted successfully
    patch:
      summary: Patch GoCardless association by id
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
        - name: patchBody
          in: body
          schema:
            $ref: '#/definitions/GocardlessAssociationAmendment'
      responses:
        200:
          description: Association updated successfully
          schema:
            $ref: "#/definitions/GocardlessAssociationResponse"
        400:
          description: Bad Request
          schema:
            $ref: "#/definitions/ApiError"
        404:
          description: Record not found
          schema:
            $ref: "#/definitions/ApiError"
        403:
          description: Forbidden
          schema:
            $ref: "#/definitions/ApiError"

  /sepainstant:

    post:
      summary: Create organisation association for sepa instant
      x-access:
        - Private
      tags:
       - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: "#/definitions/SepaInstantAssociationCreation"

      responses:
        201:
          description: creation response
          schema:
            $ref: "#/definitions/SepaInstantAssociationCreationResponse"


    get:
      summary: List all organisation sepa instant associations
      x-access:
        - Private
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid

      responses:
        200:
          description: List of associations
          schema:
            $ref: "#/definitions/SepaInstantAssociationDetailsListResponse"

  /sepainstant/{id}:

    get:
      summary: Fetch organisation sepa instant association
      x-access:
        - Private
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/SepaInstantAssociationDetailsResponse"

    delete:
      summary: Delete organisation spea instant association
      x-access:
        - Private
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Association deleted

  /ebury:
    post:
      summary: Create organisation association for Ebury gateway
      tags:
        - Associations
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: creation request
          in: body
          schema:
            $ref: '#/definitions/EburyAssociationCreation'
      responses:
        201:
          description: creation response
          schema:
            $ref: '#/definitions/EburyAssociationCreationResponse'
    get:
      summary: List all organisation ebury gateway associations
      tags:
        - Associations
      parameters:
        - name: filter[organisation_id]
          in: query
          description: Organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
      responses:
        200:
          description: List of ebury associations
          schema:
            $ref: "#/definitions/EburyAssociationListResponse"

  /ebury/{id}:
    get:
      summary: Fetch organisation ebury gateway association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Associations details
          schema:
            $ref: "#/definitions/EburyAssociationResponse"
    delete:
      summary: Delete ebury gateway association
      tags:
        - Associations
      parameters:
        - name: id
          in: path
          description: Association Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: association deleted successfully

#paymentapi - start
  /payments:

    post:
      summary: Create payment
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Payment creation request
          in: body
          schema:
            $ref: "#/definitions/PaymentCreation"

      responses:
        201:
          description: Payment creation response
          schema:
            $ref: "#/definitions/PaymentCreationResponse"

        400:
          description: Payment creation error
          schema:
            $ref: "#/definitions/ApiError"

    get:
      summary: List payments
      tags:
        - Payments
      x-access:
        - Public
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
          minimum: 0
          pattern: "$[A-z0-9]{4}^"
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
        - name: filter[debtor_party.account_number]
          in: query
          required: false
          type: string
        - name: filter[debtor_party.bank_id]
          in: query
          required: false
          type: string
        - name: filter[beneficiary_party.account_number]
          in: query
          required: false
          type: string
        - name: filter[beneficiary_party.bank_id]
          in: query
          required: false
          type: string
        - name: filter[currency]
          in: query
          required: false
          type: string
        - name: filter[scheme_transaction_id]
          in: query
          required: false
          type: string
        - name: filter[payment_scheme]
          in: query
          required: false
          type: string
        - name: filter[payment_type]
          in: query
          required: false
          type: string
        - name: filter[processing_date_from]
          in: query
          required: false
          type: string
          format: date
        - name: filter[processing_date_to]
          in: query
          required: false
          type: string
          format: date
        - name: filter[unique_scheme_id]
          in: query
          required: false
          type: string
        - name: filter[amount]
          in: query
          required: false
          type: string
        - name: filter[reference]
          in: query
          required: false
          type: string
        - name: filter[submission.submission_date_from]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[submission.submission_date_to]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[submission.status]
          in: query
          description: Filter by submission status
          required: false
          type: string
        - name: filter[submission.scheme_status_code]
          description: Filter by submission scheme status code
          in: query
          required: false
          type: string
        - name: filter[admission.admission_date_from]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[admission.admission_date_to]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[admission.status]
          in: query
          description: Filter by admission status
          required: false
          type: string
        - name: filter[admission.scheme_status_code]
          description: Filter by admission scheme status code
          in: query
          required: false
          type: string

      responses:
        200:
          description: List of payment details
          schema:
            $ref: "#/definitions/PaymentDetailsListResponse"

  /payments/{id}/admissions:

    post:
      summary: create admission
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: Admission creation request
          in: body
          schema:
            $ref: "#/definitions/PaymentAdmissionCreation"

      responses:
        201:
          description: Admission creation response
          schema:
            $ref: "#/definitions/PaymentAdmissionCreationResponse"

        400:
          description: Admission creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/admissions/{admissionId}:

    get:
      summary: Fetch admission
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: admissionId
          in: path
          description: Admission Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Admission details
          schema:
            $ref: "#/definitions/PaymentAdmissionDetailsResponse"

  /payments/{id}/submissions:

    post:
      summary: create submission
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: Submission creation request
          in: body
          schema:
            $ref: "#/definitions/PaymentSubmissionCreation"

      responses:
        201:
          description: Submission creation response
          schema:
            $ref: "#/definitions/PaymentSubmissionCreationResponse"

        400:
          description: Submission creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/submissions/{submissionId}:

    get:
      summary: Fetch submission
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: submissionId
          in: path
          description: Submission Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Submission details
          schema:
            $ref: "#/definitions/PaymentSubmissionDetailsResponse"

    patch:
      summary: Update submission
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: submissionId
          in: path
          description: Submission Id
          required: true
          type: string
          format: uuid
        - name: Submission update request
          in: body
          schema:
            $ref: "#/definitions/PaymentSubmissionAmendment"

      responses:
        200:
          description: Submission update response
          schema:
            $ref: "#/definitions/PaymentSubmissionDetailsResponse"

        400:
          description: Error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/submissions/{submissionId}/validations:

    post:
      summary: Create payment submission validation
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: submissionId
          in: path
          description: Submission Id
          required: true
          type: string
          format: uuid
        - name: Payment submission validation request
          in: body
          schema:
            $ref: "#/definitions/PaymentSubmissionValidationCreation"
      responses:
        201:
          description: Payment submission validation creation response
          schema:
            $ref: "#/definitions/PaymentSubmissionValidationCreationResponse"

        400:
          description: Payment submission validation creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/returns:
    post:
      summary: Create return
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: Return creation request
          in: body
          schema:
            $ref: "#/definitions/ReturnCreation"

      responses:
        201:
          description: Return creation response
          schema:
            $ref: "#/definitions/ReturnCreationResponse"

        400:
          description: Return creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/returns/{returnId}:

    get:
      summary: Fetch return
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Return details
          schema:
            $ref: "#/definitions/ReturnDetailsResponse"

  /payments/{id}/returns/{returnId}/admissions:
    post:
      summary: create return admission
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: Return admission creation request
          in: body
          schema:
            $ref: "#/definitions/ReturnAdmissionCreation"

      responses:
        201:
          description: Return admission creation response
          schema:
            $ref: "#/definitions/ReturnAdmissionCreationResponse"

        400:
          description: Return admission creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/returns/{returnId}/admissions/{admissionId}:
    get:
      summary: Fetch return admission
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: admissionId
          in: path
          description: Admission Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Return admission details
          schema:
            $ref: "#/definitions/ReturnAdmissionDetailsResponse"

  /payments/{id}/returns/{returnId}/submissions:
    post:
      summary: create return submission
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: Return submission creation request
          in: body
          schema:
            $ref: "#/definitions/ReturnSubmissionCreation"

      responses:
        201:
          description: Return submission creation response
          schema:
            $ref: "#/definitions/ReturnSubmissionCreationResponse"

        400:
          description: Return submission creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/returns/{returnId}/submissions/{submissionId}:
    get:
      summary: Fetch return submission
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: submissionId
          in: path
          description: Submission Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Return submission details
          schema:
            $ref: "#/definitions/ReturnSubmissionDetailsResponse"

    patch:
      summary: Update return submission
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: submissionId
          in: path
          description: Submission Id
          required: true
          type: string
          format: uuid
        - name: Return submission update request
          in: body
          schema:
            $ref: "#/definitions/ReturnSubmissionAmendment"

      responses:
        200:
          description: Return submission update response
          schema:
            $ref: "#/definitions/ReturnSubmissionDetailsResponse"

        400:
          description: Error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/returns/{returnId}/submissions/{returnSubmissionId}/validations:
    post:
      summary: Create return submission validation
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: returnSubmissionId
          in: path
          description: Return Submission Id
          required: true
          type: string
          format: uuid
        - name: Return submission validation request
          in: body
          schema:
            $ref: "#/definitions/ReturnSubmissionValidationCreation"
      responses:
        201:
          description: Return submission validation creation response
          schema:
            $ref: "#/definitions/ReturnSubmissionValidationCreationResponse"

        400:
          description: Return submission validation creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/returns/{returnId}/reversals:
    post:
      summary: Create return reversal
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: Return reversal creation request
          in: body
          schema:
            $ref: "#/definitions/ReturnReversalCreation"

      responses:
        201:
          description: Reversal creation response
          schema:
            $ref: "#/definitions/ReturnReversalCreationResponse"

        400:
          description: Reversal creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/returns/{returnId}/reversals/{reversalId}:

    get:
      summary: Fetch return reversal
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: reversalId
          in: path
          description: Reversal Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Return reversal details
          schema:
            $ref: "#/definitions/ReturnReversalDetailsResponse"

  /payments/{id}/returns/{returnId}/reversals/{reversalId}/admissions:
    post:
      summary: create return reversal admission
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: reversalId
          in: path
          description: Reversal Id
          required: true
          type: string
          format: uuid
        - name: Return reversal admission creation request
          in: body
          schema:
            $ref: "#/definitions/ReturnReversalAdmissionCreation"

      responses:
        201:
          description: Return reversal admission creation response
          schema:
            $ref: "#/definitions/ReturnReversalAdmissionCreationResponse"

        400:
          description: Reversal admission creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/returns/{returnId}/reversals/{reversalId}/admissions/{admissionId}:
    get:
      summary: Fetch return reversal admission
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: returnId
          in: path
          description: Return Id
          required: true
          type: string
          format: uuid
        - name: reversalId
          in: path
          description: Reversal Id
          required: true
          type: string
          format: uuid
        - name: admissionId
          in: path
          description: Admission Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Return reversal admission details
          schema:
            $ref: "#/definitions/ReturnReversalAdmissionDetailsResponse"

  /payments/{id}/reversals:
    post:
      summary: Create reversal
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: Reversal creation request
          in: body
          schema:
            $ref: "#/definitions/ReversalCreation"

      responses:
        201:
          description: Reversal creation response
          schema:
            $ref: "#/definitions/ReversalCreationResponse"

        400:
          description: Reversal creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/reversals/{reversalId}:

    get:
      summary: Fetch reversal
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: reversalId
          in: path
          description: Reversal Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Reversal details
          schema:
            $ref: "#/definitions/ReversalDetailsResponse"

  /payments/{id}/reversals/{reversalId}/admissions:
    post:
      summary: create reversal admission
      tags:
       - Payments
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: reversalId
          in: path
          description: Reversal Id
          required: true
          type: string
          format: uuid
        - name: Reversal admission creation request
          in: body
          schema:
            $ref: "#/definitions/ReversalAdmissionCreation"

      responses:
        201:
          description: Reversal admission creation response
          schema:
            $ref: "#/definitions/ReversalAdmissionCreationResponse"

        400:
          description: Reversal admission creation error
          schema:
            $ref: "#/definitions/ApiError"

  /payments/{id}/reversals/{reversalId}/admissions/{admissionId}:
    get:
      summary: Fetch reversal admission
      tags:
        - Payments
      parameters:
        - name: id
          in: path
          description: Payment Id
          required: true
          type: string
          format: uuid
        - name: reversalId
          in: path
          description: Reversal Id
          required: true
          type: string
          format: uuid
        - name: admissionId
          in: path
          description: Admission Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Reversal admission details
          schema:
            $ref: "#/definitions/ReversalAdmissionDetailsResponse"

  /positions:
    get:
      summary: List Positions
      tags:
        - Payments
      responses:
        200:
          description: List of position details
          schema:
            $ref: "#/definitions/PositionDetailsListResponse"

  /paymentdefaults:
    post:
      summary: Create the default settings for a payment
      tags:
      - PaymentDefaults
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Default configuration
          in: body
          schema:
            $ref: "#/definitions/PaymentDefaultsCreate"
      responses:
        201:
          description: Default settings created
          schema:
              $ref: "#/definitions/PaymentDefaultsCreateResponse"
        400:
          description: Default settings creation error
          schema:
            $ref: "#/definitions/ApiError"
    get:
      summary: List default settings for payments
      tags:
        - PaymentDefaults
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
          minimum: 0
          pattern: "$[A-z0-9]{4}^"
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv
      responses:
        200:
          description: List of payment defaults
          schema:
            $ref: "#/definitions/PaymentDefaultsListResponse"

  /paymentdefaults/{id}:
    get:
      summary: Fetch payment defaults
      tags:
        - PaymentDefaults
      parameters:
        - name: id
          in: path
          description: Payment defaults Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Payment default details
          schema:
            $ref: "#/definitions/PaymentDefaultsResponse"

    patch:
      summary: Update payment defaults
      tags:
       - PaymentDefaults
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: id
          in: path
          description: Payment defaults Id
          required: true
          type: string
          format: uuid
        - name: Defaults update request
          in: body
          schema:
            $ref: "#/definitions/PaymentDefaultsAmendment"
      responses:
        200:
          description: Defaults update response
          schema:
            $ref: "#/definitions/PaymentDefaultsResponse"
        400:
          description: Error
          schema:
            $ref: "#/definitions/ApiError"

    delete:
      summary: Delete payment defaults
      tags:
        - PaymentDefaults
      parameters:
        - name: id
          in: path
          description: Limit Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Payment defaults deleted
#paymentapi - end

#directdebit-api - start

  /directdebits:

    get:
      summary: List direct debits
      tags:
        - DirectDebits
      x-access:
        - Public
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
          minimum: 0
          pattern: "$[A-z0-9]{4}^"
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
        - name: filter[debtor_party.account_number]
          in: query
          required: false
          type: string
        - name: filter[debtor_party.bank_id]
          in: query
          required: false
          type: string
        - name: filter[beneficiary_party.account_number]
          in: query
          required: false
          type: string
        - name: filter[beneficiary_party.bank_id]
          in: query
          required: false
          type: string
        - name: filter[currency]
          in: query
          required: false
          type: string
        - name: filter[payment_scheme]
          in: query
          required: false
          type: string
        - name: filter[payment_type]
          in: query
          required: false
          type: string
        - name: filter[processing_date_from]
          in: query
          required: false
          type: string
          format: date
        - name: filter[processing_date_to]
          in: query
          required: false
          type: string
          format: date
        - name: filter[clearing_id]
          in: query
          required: false
          type: string
        - name: filter[admission.admission_date_from]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[admission.admission_date_to]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[admission.status]
          in: query
          description: Filter by admission status
          required: false
          type: string
        - name: filter[admission.scheme_status_code]
          description: Filter by admission scheme status code
          in: query
          required: false
          type: string
        - name: filter[amount]
          description: Filter by amount
          in: query
          required: false
          type: string
        - name: filter[reference]
          description: Filter by reference
          in: query
          required: false
          type: string
        - name: filter[unique_scheme_id]
          description: Filter by unique scheme id
          in: query
          required: false
          type: string
      responses:
        200:
          description: List of direct debit details
          schema:
            $ref: "#/definitions/DirectDebitDetailsListResponse"

#directdebit-api - end

#mandate-api - start

  /mandates:

    get:
      summary: List mandates
      tags:
        - Mandates
      x-access:
        - Public
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: string
          minimum: 0
          pattern: "$[A-z0-9]{4}^"
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
        - name: filter[debtor_party.account_number]
          in: query
          required: false
          type: string
        - name: filter[debtor_party.bank_id]
          in: query
          required: false
          type: string
        - name: filter[beneficiary_party.account_number]
          in: query
          required: false
          type: string
        - name: filter[beneficiary_party.bank_id]
          in: query
          required: false
          type: string
        - name: filter[currency]
          in: query
          required: false
          type: string
        - name: filter[payment_scheme]
          in: query
          required: false
          type: string
        - name: filter[payment_type]
          in: query
          required: false
          type: string
        - name: filter[processing_date_from]
          in: query
          required: false
          type: string
          format: date
        - name: filter[processing_date_to]
          in: query
          required: false
          type: string
          format: date
        - name: filter[scheme_processing_date_from]
          in: query
          required: false
          type: string
          format: date
        - name: filter[scheme_processing_date_to]
          in: query
          required: false
          type: string
          format: date
        - name: filter[clearing_id]
          in: query
          required: false
          type: string
        - name: filter[admission.admission_date_from]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[admission.admission_date_to]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[admission.status]
          in: query
          description: Filter by admission status
          required: false
          type: string
        - name: filter[admission.scheme_status_code]
          description: Filter by admission scheme status code
          in: query
          required: false
          type: string
        - name: filter[amount]
          description: Filter by amount
          in: query
          required: false
          type: string
        - name: filter[reference]
          description: Filter by reference
          in: query
          required: false
          type: string
        - name: filter[unique_scheme_id]
          description: Filter by unique scheme id
          in: query
          required: false
          type: string
        - name: filter[all_versions]
          description: Include old versions of mandates
          in: query
          required: false
          type: boolean
        - name: filter[submission.submission_date_from]
          in: query
          required: false
          type: string
          format: date-time
        - name: filter[submission.submission_date_to]
          in: query
          required: false
          type: string
          format: date-time
      responses:
        200:
          description: List of mandates details
          schema:
            $ref: "#/definitions/MandateDetailsListResponse"

#mandate-api - end

#public-key - start

  /users/{user_id}/credentials/public_key:

    get:
      summary: Fetch public key credentials
      tags:
        - Users
      x-access:
        - Public
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: List of public keys for user
          schema:
            $ref: "#/definitions/UserPublicKeyListResponse"

    post:
      summary: Generate new public key credential for a user
      tags:
        - Users
      x-access:
        - Public
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - in: body
          name: PublicKey
          description: The public key to create.
          schema:
            $ref: "#/definitions/PublicKey"

      responses:
        201:
          description: Signature Credential creation response
          schema:
            $ref: "#/definitions/PublicKeyCreationResponse"

  /users/{user_id}/credentials/public_key/{public_key_id}:

    get:
      summary: Fetch public key credential
      tags:
        - Users
      x-access:
        - Public
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: public_key_id
          in: path
          description: public_key_id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Public key data
          schema:
            $ref: "#/definitions/PublicKey"

    delete:
      summary: Delete public key credential for user
      tags:
        - Users
      x-access:
        - Public
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: user_id
          in: path
          description: User Id
          required: true
          type: string
          format: uuid
        - name: public_key_id
          in: path
          description: public_key_id
          required: true
          type: string
          format: uuid
      responses:
        204:
          description: Public key deleted

#public-key - enc

definitions:

  ApiError:
    type: object
    properties:
      error_message:
        type: string
      error_code:
        type: string
        format: uuid

  Links:
    type: object
    properties:
      self:
        type: string
      first:
        type: string
      prev:
        type: string
      next:
        type: string
      last:
        type: string

  Self:
    type: object
    properties:
      self:
        type: string

  RecordCount:
    type: object
    properties:
      count:
        type: integer

  #Ace
  Ace:
    type: object
    properties:
      type:
        type: string
        pattern: ^[A-Za-z]*$
      id:
        type: string
        format: uuid
      version:
        type: integer
        minimum: 0
      organisation_id:
        type: string
        format: uuid
      attributes:
        type: object
        properties:
          role_id:
            type: string
            format: uuid
          action:
            type: string
            pattern: ^[A-Za-z]*$
          record_type:
            type: string
            pattern: ^[A-Za-z]*$
          filter:
            type: string

  AceDetailsListResponse:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Ace'
      links:
        $ref: '#/definitions/Links'

  #Versioning, Audit and Approval
  #===

  ApprovalRequest:
    type: object
    properties:
      type:
        type: string
        pattern: ^[A-Za-z]*$
      id:
        type: string
        format: uuid
      version:
        type: integer
        minimum: 0
      organisation_id:
        type: string
        format: uuid
      attributes:
        type: object
        properties:
          record_type:
            type: string
            pattern: ^[A-Za-z]*$
[...]
